{% set labelclasslg = "col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label" %}
{% set selectclass = "col-lg-4 col-md-4 col-sm-4 col-xs-4" %}
{% set txtinputclassmd = "col-lg-9 col-md-9 col-sm-12 col-xs-12" %}

<div class="form-group">
    <label class="{{ labelclasslg }}">IP&nbsp;
    </label>
    <div class="{{ txtinputclassmd }}">
        <input type="text" class="form-control" maxlength="50" id="server_ip" value=""
               name="server_ip" placeholder="10.0.0.1">
    </div>
</div>
<div class="form-group">
    <label class="{{ labelclasslg }}">Port&nbsp;
    </label>
    <div class="{{ txtinputclassmd }}">
        <input type="text" class="form-control" maxlength="50" id="server_port" value=""
               name="server_port" placeholder="22">
    </div>
</div>
<div class="form-group">
    <label class="{{ labelclasslg }}">User&nbsp;
    </label>
    <div class="{{ txtinputclassmd }}">
        <input type="text" class="form-control" maxlength="50" id="server_username" value=""
               name="server_username" placeholder="Username">
    </div>
</div>
<div class="form-group">
    <label class="{{ labelclasslg }}">Password
    </label>
    <div class="{{ txtinputclassmd }}">
        <input type="password" class="form-control" maxlength="50" id="server_password" value=""
               name="server_password" placeholder="***********">
    </div>
</div>